
<footer class="footer">
    <div class="blink-img">
      <img class="img-fluid blinkblink" src="{{ 'assets/images/pattern/01.png'|theme }}" alt="">
    </div>
    <div class="primary-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-12">
            <div class="white-bg box-shadow py-8 px-5">
              <a class="footer-logo text-black" href="/"><img src="{{ 'assets/images/logo.png'|theme }}"></a>
              <div class="footer-cntct mt-4">
                <ul class="media-icon list-unstyled">
                  <li> <i class="las la-map-marker-alt"></i>
                    <p class="mb-0">Virtual Era Ltd.
                      Rr. Xhavit Mitrovica no. 30,
                      10000 Prishtina, Kosova.</p>
                  </li>
                  <li><i class="las la-envelope-open-text"></i>  <a href="mailto:info@virtualera.net">info@virtualera.net</a>
                  </li>
                  <li><i class="las la-phone"></i>  <a href="tel:+383 49 205 567">+383 49 205 567</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-7 col-12 mt-6 mt-lg-0 pl-lg-8">
            <div class="row">
              <div class="col-sm-6">
                <h4 class="mb-4"><span class="text-theme2">O</span>ur Services</h4>
                <div class="footer-list">
                  <ul class="list-unstyled">
                    <li><a href="it-solution">IT Solution</a>
                    </li>
                    <li><a href="managed-it-services">Managed It Services</a>
                    </li>
                    <li> <a href="it-consultancy">IT Consultancy</a>
                    </li>
                    <li> <a href="industries-it">Industries IT</a>
                    </li>
                    <li> <a href="digital-services">Digital Services</a>
                    </li>
                    <li> <a href="business-solutions">Business Solutions</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 mt-4 mt-sm-0">
                <h4 class="mb-4"><span class="text-theme2">Q</span>uick Link</h4>
                <div class="footer-list">
                  <ul class="list-unstyled">
                    <li><a href="about-us">About Us</a>
                    </li>
                    <li><a href="contact">Contact Us</a>
                    </li>
                    <li> <a href="privacy-policy">Privacy Policy</a>
                    </li>
                    <li> <a href="faq">FAQ</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 mt-6 mt-lg-0">
            <h4 class="mb-4"><span class="text-theme2">L</span>atest News</h4>
            <div class="recent-post">
              <ul class="list-unstyled">
                <li class="mb-4">
                  <div class="recent-post-thumb">
                    <img class="img-fluid" src="{{ 'assets/images/blog/blog-thumb/01.jpg'|theme }}" alt="">
                  </div>
                  <div class="recent-post-desc"> <span class="text-theme">8th Aug, 2020</span>
                    <a href="blog-single">How can use powerfull template that</a> 
                  </div>
                </li>
                <li class="mb-4">
                  <div class="recent-post-thumb">
                    <img class="img-fluid" src="{{ 'assets/images/blog/blog-thumb/02.jpg'|theme }}" alt="">
                  </div>
                  <div class="recent-post-desc"> <span class="text-theme">5th Aug, 2020</span>
                    <a href="blog-single">In-Depth Industry & Ecosystem Analysis</a> 
                  </div>
                </li>
                <li>
                  <div class="recent-post-thumb">
                    <img class="img-fluid" src="{{ 'assets/images/blog/blog-thumb/03.jpg'|theme }}" alt="">
                  </div>
                  <div class="recent-post-desc"> <span class="text-theme">8th Aug, 2020</span>
                    <a href="blog-single">A brand for a company is like a reputation person.</a> 
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-footer">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <div class="copyright">© 2006 – {{ 'now' | date('Y') }} Virtual Era Ltd. All Rights Reserved
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  